/* Development only banners */

.branch-widget,
.version-widget {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0.2em 42em;
    color: #fff;
    background: linear-gradient(0deg, purple 0%, black 100%);
    font-family: sans-serif;
    font-size: 0.667em;
    font-weight: normal;
    letter-spacing: 1px;
    transform: translate(calc(-50% + 0.707*var(--diag-em)*1em),calc(50% - 0.707*var(--diag-em)*1em)) rotate(45deg);
}

.version-widget {
    --diag-em: 5.5;
}

.branch-widget {
    --diag-em: 7;
}

.version-widget .ins {
    color: lime;
    font-weight: bold;
}

.version-widget .del {
    color: red;
    font-weight: bold;
}
