/* Development debug banner */
.dev-banner{
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100em;
    width: max-content;
    background: #ffeb3b;
    color: #111;
    padding: 0.25em;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.667em;
    font-weight: bold;
    letter-spacing: 1px;
    --diag-em: 7.5;
    transform: translate(calc(-50% + 0.707*var(--diag-em)*1em),calc(50% - 0.707*var(--diag-em)*1em)) rotate(45deg);
}

/* Version widget */
.branch-widget,
.version-widget {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0.33em 20em;
    color: #fff;
    background: linear-gradient(0deg, purple 0%, black 100%);
    font-family: sans-serif;
    font-size: 0.667em;
    font-weight: normal;
    letter-spacing: 1px;
    transform: translate(calc(-50% + 0.707*var(--diag-em)*1em),calc(50% - 0.707*var(--diag-em)*1em)) rotate(45deg);
}

.version-widget {
    --diag-em: 6;
}

.branch-widget {
    --diag-em: 9;
}
